@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #111111;
  opacity: 0.8;
  background-image: radial-gradient(#202020 1.5px, #131313 1.5px);
  background-size: 20px 20px;
}
